@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply  bg-slate-800 text-white
}

.start-input{
  @apply text-xl text-black p-2 text-center w-1/2
}

.start-btn{
  @apply bg-green-900 py-3 w-1/2 text-lg cursor-pointer rounded-md font-bold hover:bg-green-700
}

.start-h2{
  @apply  text-3xl font-bold
}
